
/*Empezamos con el color de fondo de nuestra página web*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  font-family: Vegur, 'PT Sans', Verdana, sans-serif;
  /*Esto hace que ocupe siempre el 100%*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  flex: 1;
}

/*


Aqui esta incluido todo lo del header


*/
/*Imagen que utilizaremos como fondo de nuestra pagina principal*/

.img_inicio {
  background-image: url(/img/imagen\ inicio.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Aquí redimensionamos el logo de lo que será nuestra "empresa" */
.logo{
    width: 150px;
    height: 150px;
}
.logo img {
  height: 150px;
}

/*Ahora ponemos los botones en los que el usuario podrá dirigirse a otras paginas*/

.header {
  display: flex;
  align-items: center;
  background-color: #e0ffff; 
  padding: 10px 20px;
  gap: 30px;
  flex-wrap: wrap; /* permite que se acomode mejor en pantallas pequeñas */
}

.botones-header ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.botones-header ul li a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

/*


Aqui todo lo del body


*/



/* Aquí van las categorías*/

.container-categorias{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    max-width: 1200px;
    gap: 4rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.categoria{
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 100%; 
    aspect-ratio: 1 / 1; /* cuadradas */
    max-width: 300px;
    width: 300px;
    height: 300px;
    color: black;
    display: flex;
    flex-direction:column; /*Como se distrubuye el contenido en nuestro flex*/
    justify-content: space-between; /*Mantiene el equilibrio*/
}

.categoria img{
    width: 100%;
    height: 180px;
    object-fit: cover;/*Esto recorta la imagen sin deformarla*/
}

/*Boton que te lleva a las subpaginas de las distintas categorias*/

.boton-descubrir {
  display: flex;
  padding: 10px 20px;
  background-color: #075168;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}


/* Dentro del sobre nosotros, la tabla de sostenibilidad*/

.table{
  width: 100%;
  border-collapse: collapse;
}
table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    background-color: rgb(7, 90, 79);
    color: white;
}

.articulos_categorias{
  border: 1px solid black;
  width: auto;
  background-color: aliceblue;
}

/*Esto engloba los productor de las distintas categorias*/

.slider-container {
  display: flex;
  align-self: center;
  max-width: 500px;
  overflow-x: scroll;
  background-color: aliceblue;
  scroll-snap-type: x mandatory;
}

.slider-container img {

  object-fit: cover;
  scroll-snap-align: center;
}

